                /* ****** GLOBAL ******* */
:root {
    --orange: #f7b617;  /* bg -->box-bg-section, footer */
    --white: #ffffff;  /*  --> header */
    --black: #000000;  /*  --> font color */
}

                /* ****** COLORS ******* */
.orange-bg {
    background-color: #f7b617;
    color: #ffffff;
    
}

.darkslategray-bg {
    background-color: #2b2b2b;
    color: #ffffff;


}


                /* ****** HEADER ******* */
/* <!-- nav--> */
.navbar-inverse {
    /* background-color: #ffffff; */
    border-style: none;
    /* color: #f7b617; */
}

                /* ****** SECTIONS ******* */

/* <!-- bg-section --> */

#bg-section {
    background-image: url(../assets/images/taxi.jpg);
    /* background-repeat: no-repeat; */
    /* overflow: auto; */
   
    
    background-repeat: no-repeat;
    /* background-position: top center; */
    /* background-size: cover; */
    height: 90vh;
    width: 100%;

    /* background-position: 100% top; */
    background-size: cover 100%;

    /* background-position: center center; */
    /* background-position: center bottom; */
    background-position: center bottom;


    /* background-position: 100% top; */
    /* background-size: cover; */

}

.context-bg-box {
    /* background-color: var(--orange); */
    box-sizing: border-box;
    padding: 3%;
    
}

.white-logo-lab-car {
    width: 100%;
    max-width: 96px;
}

/* <!-- titles --> */

h2, h3, .line-detail-parragraph {
    /* color: var(--white); */
    font-weight: bold;
}

.line-detail-parragraph {
    text-align: center;
    padding: 3%;
}

.line-detail-parragraph>span {
    padding-left: 15px;
    padding-right: 15px;
    text-align: center;
}

.line-detail-parragraph::before, .line-detail-parragraph::after {
    content: " ";
    background-color: var(--white);
    display: inline-block;
    margin: 3px 1px;
    height: 2px;
    width: 100px;
}

.title-1 {
    padding-bottom: 5%;
    line-height: 1.2;
}

.title-2 {
    padding-bottom: 2%;
}

/* <!-- buttons --> */
.btn-default {
    font-weight: bold; 
}


#conduce-section {
    background: url(../assets/images/conduce.jpg) no-repeat center;
    background-size: cover 100%;
    height: 90vh;
   
    
}

#phone-section {
    height: 90vh;
}


.white-border {
   border: 1px solid #ffffff;
   height: 452px;
    
}

.conduce-text-box {
    background-color: rgba(0, 0, 0, 0.5);
    
     
}

.links-footer {
    /* list-style-type: none; */
    color: #ffffff;
}

             /* ****** FOOTER ******* */

/* footer {
    background-color: var(--orange);
} */